h1{
    text-align: center;
}
form {
    text-align: center;
}
td, th {
    text-align: center;
    padding: 20px;
    border: solid red 1px;
}
.tableFormat table{
    margin: 10px auto;
}
.formField{
    background-color: wheat;
    padding: 20px;
}
#botonDeEnvio {
    font-size: 23px;
}